<div class="container-fluid vh-100 c-snap">
  <div class="row">
    <div class="text-center col-12 hearder-title pt-2">
      <p><h1>{{{this.questionnaire.category_name_hyphenated}}}</h1></p>
      <p><h2>{{this.questionnaire.description}}</h2></p>
    </div>
  </div>
  {{#each this.questionsWithNextIndentifier as |question index|}}
    {{#if (eq question.question_type "multiple-choice")}}
      <QuestionMultipleChoice @question={{question}} @position={{index}} />
    {{else if (eq question.question_type "text")}}
      <QuestionFreeText @question={{question}} @position={{index}} />
    {{/if}}
  {{/each}}
</div>

<div class="btn-group nav-updown" role="group">
  <button type="button" class="btn btn-primary btn-sm" {{on "click" (fn this.navigateTo "up")}}><i class="fa fa-chevron-up"></i></button>
  <button type="button" class="btn btn-primary btn-sm" {{on "click" (fn this.navigateTo "down")}}><i class="fa fa-chevron-down"></i></button>
</div>


{{outlet}}